@media only screen and (max-width: 850px){
 *{
    margin:0;
    padding:0;
    box-sizing:border-box;
  } 

.navbody{
    z-index: 10;
}
.container{
    height: 12vh;
    width: 100%;
    /* background: rgb(231, 103, 103); */
    background: none;
    clip-path: polygon(100% 50%,50% 100%,0% 50%, 0% 0%,100% 0%);
}

.menu-list-container{
    height: 80vh;
    width: 12vw;
    top: 0;
    left: 2%;
    position: fixed;
    z-index: 5;
    background: rgb(200, 73, 204);
    clip-path: polygon(100% 90%,50% 100%,0% 90%, 0% 0%,100% 0%);
}

.hide-bookmark-long{
    animation-name: bookmark-hide;
    animation-duration: 0.5s;
    animation-direction: normal;
}

.show-bookmark-long{
    animation-name: bookmark-long;
    animation-duration: 0.5s;
    animation-direction: normal;
}

@keyframes bookmark-long{
    0%{
        top:-60vh;
        left: 2%;
    }
    100%{
        top: 0;
        left: 2%;
    }
}

@keyframes bookmark-hide{

    0%{
        top: 0;
        left: 2%;
    }
    100%{
        top: -60vh;
        left: 2%;
    }
}


.out-long{
    top: -60vh;
}


.menu-items-container{
    height: 68vh;
    width: 100%;

}

.description-bar{
    height: 10vh;
    width: 100%;
    position: fixed;
    top: 0;
    background: black;
    background: rgba( 255, 255, 255,0.08 );
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 15px );
}

.menu-button{
    margin: 0% 20%;
    height: 10%;
    width: 60%;
    filter: invert(75%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(111%) contrast(111%);
}

.button-container{
    height: auto;
    width: auto;
}

  .logo-center{
    width: 20%;
    display: flex;
    flex-direction: row;
    margin-left: 40%;
    margin-top: 1%;
  }

  .logo-center img{
    height:45px;
    width: 45px;
  }
  
  .hide{
    display: none;
  } 
}

@media only screen and (min-width: 850.01px){
  *{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }

  .navbody{
    background-color: hsla(262, 0%, 0%, 1);
    background-image:
        radial-gradient(at 19% 79%, hsla(360, 0%, 0%, 0.6) 0px, transparent 50%),
        radial-gradient(at 0% 62%, hsla(265, 100%, 50%, 0.35) 0px, transparent 50%),
        radial-gradient(at 78% 8%, hsla(360, 0%, 0%, 0.58) 0px, transparent 50%),
        radial-gradient(at 100% 0%, hsla(305, 100%, 50%, 0.29) 0px, transparent 50%),
        radial-gradient(at 95% 94%, hsla(291, 100%, 50%, 1) 0px, transparent 50%),
        radial-gradient(at 0% 0%, rgb(157, 0, 255) 0px, transparent 50%);
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37 );
/*     backdrop-filter: blur( 20px ); */
/*     -webkit-backdrop-filter: blur( 15px ); */
    position: fixed;
/*     -webkit-backdrop-filter: blur( 15px ); */
    top: 0;
    width: 100%;
    z-index: 25;
  }

  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  [class*="col-"] {
    height:12vh;
  }
  
  .navbarTop{
    height: 13vh;
    width:100%;
    background: white;
    background: rgba( 255, 255, 255,0.08 );
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 15px );
    position:fixed;
    display:flex;
    flex-direction: row;
  }

  .logoClass{
    height:90%;
    width:75%;
    margin: auto;
    text-align:center;
    padding-top:10px;
    display:flex;
    flex-direction:row;
  }
  

  .flex-row{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
  }

  .navigate-menu{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
  }

  .ulist{
    align-items:center;
    list-style:none;
  }

  .ulist li a{
    text-decoration: none;
    color:white;
    font-size:1.2rem;
  }

  .ulist li a:hover{
    color:#dc45ff;
  }
  .ulist li:hover{
    transform: translateY(1px);
  }
  
  .hide{
    display: none;
  }
}


  .logoname{
    color:#dc45ff;
    font-size:1.3rem;
    font-weight: 900;
    font-style: italic;
    margin:auto;
  }


.mainsearch-box{
  height: 5vh;
  width: 35vh;
  border: 1px solid #c2c2c2;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.mainsearch-box input{
    height: 5vh;
    appearance: none;
    background: rgba(255,255,255,0);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 1% 3%;
  outline: none;
}

.mainsearch-box input:focus{
  outline: none;
}

.mainsearch-box input::placeholder{
  color: white;
}

.search-btn{
  
}

.imgSearch{
  height: 4vh;
  width: 4vh;
  filter: invert(1);
  margin: 2px;
  margin-top: 10px;
}

.username-logout{
  display: flex;
  flex-direction: column;
  align-items:center;
}

.hide{
  display: none;
}