*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
	background-color: hsla(262, 0%, 0%, 1);
	background-image:
		radial-gradient(at 19% 79%, hsla(360, 0%, 0%, 0.6) 0px, transparent 50%),
		radial-gradient(at 0% 62%, hsla(265, 100%, 50%, 0.35) 0px, transparent 50%),
		radial-gradient(at 78% 8%, hsla(360, 0%, 0%, 0.58) 0px, transparent 50%),
		radial-gradient(at 100% 0%, hsla(305, 100%, 50%, 0.29) 0px, transparent 50%),
		radial-gradient(at 95% 94%, hsla(291, 100%, 50%, 1) 0px, transparent 50%),
		radial-gradient(at 0% 0%, rgb(157, 0, 255) 0px, transparent 50%);
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	scroll-behavior: smooth;
    color: white;
}

form{
    position: relative;
    height: 100%;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 20vw 30vw;
    row-gap: 5vh;background: rgba( 255, 255, 255,0.08 );
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37 );
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 15px );
  border-radius: 10px;
  border: 2px solid rgba( 255, 255, 255, 0.18 );
  padding: 2%;
  padding-top: 5%;
}
input[type="text"],input[type="submit"]{
    height: 5vh;
    appearance: none;
    background: rgba(255,255,255,0);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 10px;
    color: white;
    padding: 1% 3%;
}

input[type='file']:focus,input[type="text"]:focus,input[type="submit"]:focus{
  content:none;
  outline:none;
  border: 2px solid rgba(255,255,255,0.3);
}

input[type='file'],input[type="text"]:focus::placeholder{
  opacity:0;
}

select{
    height: 5vh;
    outline: none;
    appearance: none;
    background: rgba(255,255,255,0);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 10px;
    cursor: pointer;
    padding: 1% 3%;
    color: white;
}

input[type="file"]{
    height: 5vh;
    max-width: fit-content;
}

input[type='submit']{
  text-transform: capitalize;
  width: 50%;
}