*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 1s linear;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

::-webkit-scrollbar{
    display: none;
}


.viewplaylistbody{
    position: relative;
    background-color: hsla(262, 0%, 0%, 1);
    background-image:
        radial-gradient(at 19% 79%, hsla(360, 0%, 0%, 0.6) 0px, transparent 50%),
        radial-gradient(at 0% 62%, hsla(265, 100%, 50%, 0.35) 0px, transparent 50%),
        radial-gradient(at 78% 8%, hsla(360, 0%, 0%, 0.58) 0px, transparent 50%),
        radial-gradient(at 100% 0%, hsla(305, 100%, 50%, 0.29) 0px, transparent 50%),
        radial-gradient(at 95% 94%, hsla(291, 100%, 50%, 1) 0px, transparent 50%),
        radial-gradient(at 0% 0%, rgb(157, 0, 255) 0px, transparent 50%);
    background-size: cover;
    background-attachment: fixed;
    scroll-behavior: smooth;
}

.allplaylistsContainer{
    position: relative;
    top: 14vh;
    height: 84vh;
    width: 98vw;
    margin: auto;
    background: rgba(255, 255, 255, 0.08);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.18);
    overflow:hidden;
}

.headerSection{
    height: 20%;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.18) ;
  margin-top: -2%;
  display: flex;
  flex-direction:column;
  justify-content: flex-end;
}

.headingplaylist{
    color: white;
	font-weight: bold;
    font-size: 3rem;
    margin: 0% 3%;
    text-transform: capitalize;
}

.playlistSection{
  height: 90%;
  width: 100%;
  display:flex;
  flex-wrap: wrap;
  overflow: auto;
}


.card {
	height: 35vh;
	min-width: 15vh;
	width: 15vw;
	background: white;
	margin: 1vw;
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.2);
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
	-webkit-backdrop-filter: blur(15px);
	backdrop-filter: blur(20px);
	cursor: pointer;
  margin: 2vw;
}

.bgImageContainer {
	height: 100%;
	width: 100%;
	background: url("card_poster.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 10px;
}

.detailsContainer {
	height: 10vh;
	width: 100%;
	padding: 5%;
	position: absolute;
	bottom: 0;
	border-radius: 0 0 10px 10px;
	-webkit-backdrop-filter: blur(25px);
	backdrop-filter: blur(25px);
	background: rgba(255, 255, 255, 0);
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.card h4 {
	font-size: 1rem;
  color: white;
  text-transform: capitalize;
}

.card h5 {
	font-size: 0.8rem;
  margin-top: 2px;
  color: white;
  font-weight: 300;
  text-transform: capitalize;
}
